<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
</head>
<body>
    <div id="app">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#">Komet Sales</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item href="/index.html">Vendedores</b-nav-item>
                </b-navbar-nav>

                </b-navbar-nav>
            </b-collapse>
        </b-navbar>

        <b-container fluid>

            <b-row class="justify-content-md-center">
                <b-col class="text-center" sm="6">
                    <b-card no-body class="overflow-hidden shadow my-5">
                        <b-row no-gutters>
                            <b-col md="6">
                                <b-card-img :src="seller.avatar"></b-card-img>
                            </b-col>
                            <b-col md="6">
                                <b-card-body :title="seller.name">
                                    <b-card-text>
                                        <a :href="'mailto:'+seller.email">{{seller.email}}</a>
                                    </b-card-text>
                                    <b-row>
                                        <b-col>
                                            Porcentaje de comisión: {{formatAmount(seller.commission)}}%
                                        </b-col>
                                        <b-col sm="12" class="mt-3">
                                            Comisiones Actuales
                                        </b-col>
                                        <b-col sm="12">
                                            <h2>${{formatAmount(seller.currentCommissions)}}</h2>
                                        </b-col>
                                    </b-row>
                                </b-card-body>
                            </b-col>
                        </b-row>
                    </b-card>
                </b-col>
            </b-row>
        </b-container>

    </div>
    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script>
        new Vue({
            el: '#app',
            data: {
                seller: {},
            },
            created () {
                let id = new URL(location.href).searchParams.get("id");
                axios.get('http://localhost:8080/sellers/'+id)
                    .then(response => {
                        this.seller = response.data;
                    })
                    .catch(function (error) {
                        // error handler
                    })
            },
            methods: {
                formatAmount (amount) {
                    if (amount === undefined || amount === null || amount === '') {
                        amount = '0.00';
                    }
                    amount = parseFloat(String(amount).replace('$', '')).toFixed(2);
                    return amount.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
                }
            }
        })
    </script>
</body>
</html>
